
<div class="tab">
  <input id="tab-input" type="checkbox" name="tabs" checked>
  <label class="tab-label" for="tab-input">LOGIN</label>
  <div class="tab-content">
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="login">
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
        <input class="login-input" placeholder="Username" type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="4" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">username required</p>
          <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
        </div>
      </div>
      
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
        <input class="login-input" placeholder="Password" type="text" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="4" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && passwordField.errors">
          <p *ngIf="passwordField.errors.required" class="validation">password required</p>
          <p *ngIf="passwordField.errors.minlength" class="validation">password is too short</p>
        </div>
      </div>
    
      <div class="field submit">
        <input type="submit" [disabled]="processing" value="Login">
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
        {{error}}
      </div>
    </form>
  </div>
</div>

