@import '../../../styles.scss';

.form-container {
  @extend %form;
  @extend %form-full;
}

.contact-details {
  display: grid;
  grid-column-gap: 2%;
  @include tablet {
    grid-template-columns: 49% 49%;
  }
  @include desktop {
    grid-template-columns: 49% 49%;
  }
}

.turnover,
.cargo {
  margin-bottom: 30px;
}

select {
  @extend %select;
  background-color: white;
}

button {
  @extend %btn;
  display: block;
}