
<div class="form-container"> 
  <h3>CONTACT DETAILS</h3>

  <div class="contact-details">
    <div *ngIf="warehouse" class="prefilled">
      <h5>Warehouse details:</h5>
      <p>{{warehouse.companyName }}</p>
      <p>{{ warehouse.warehouseAddress }}</p>
    </div>
    
    <div *ngIf="user" class="prefilled">
      <h5>Your details:</h5>
      <p>{{user.companyName }}</p>
      <p>{{ user.companyAddress }}</p>
    </div>
  </div>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="signup">
    <h3>ORDER DETAILS</h3>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && productNameField.errors}">
      <h5>PRODUCT NAME</h5>
      <input type="text" name="productName" [(ngModel)]="booking.productName" #productNameField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && productNameField.errors">
        <p *ngIf="productNameField.errors.required" class="validation">Product name required</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && dimsWeightField.errors}">
      <h5>DIMENSIONS</h5>
      <input type="text" name="dimsWeight" [(ngModel)]="booking.dimsWeight" #dimsWeightField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && dimsWeightField.errors">
        <p *ngIf="dimsWeightField.errors.required" class="validation">Dims and weight required</p>
      </div>
    </div>
    
    <div class="field turnover" [ngClass]="{'has-error': feedbackEnabled && expTurnOverField.errors}">
      <h5>EXP. TURNOVER</h5>
      <input type="number" name="expTurnOver" [(ngModel)]="booking.expTurnOver" #expTurnOverField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && expTurnOverField.errors">
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && piecesField.errors}">
      <h5>PIECES</h5>
      <input type="number" name="pieces" [(ngModel)]="booking.pieces" #piecesField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && piecesField.errors">
      </div>
    </div>
    
    <div class="field cargo" [ngClass]="{'has-error': feedbackEnabled && packCargoField.errors}">
      <h5>CARGO</h5>
      <select name="packCargo" [(ngModel)]="booking.packCargo" #packCargoField="ngModel" required>
        <option></option>
        <option>PALLETS</option>
        <option>CARTONS</option>
        <option>MIX</option>
      </select>
      <div *ngIf="feedbackEnabled && packCargoField.errors">
        <p *ngIf="packCargoField.errors.required" class="validation">Package cargo required</p>
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && cargoPiecesField.errors}">
      <h5>Cargo Pieces</h5>
      <input type="number" name="cargoPieces" [(ngModel)]="booking.cargoPieces" #cargoPiecesField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && cargoPiecesField.errors">
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && dateField.errors}">
      <h5>entry date</h5>
      <input type="text" name="date" [(ngModel)]="booking.date" #dateField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && dateField.errors">
      </div>
    </div>

    <div>
      <input class="input-checkbox" type="checkbox" id="hazmat" name="hazmat" value="hazmat" [(ngModel)]="booking.hazmat">
      <label for="hazmat">Hazmat</label>
    </div>

    <button class="btn" type="submit" [disabled]="processing">Submit</button>
  </form>
</div>
  
