<p>
  booking-form works!
</p>

<div class="form-container">
  <div *ngIf="warehouse" class="prefilled">
    <label>Warehouse Name:</label> 
    <span>{{ warehouse.companyName }}</span>
    <label>Warehouse Address:</label> 
    <span>{{ warehouse.companyAddress }}</span>
  </div>
  
  
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="signup">
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && productNameField.errors}">
      <label>Product: </label>
      <input type="text" name="productName" [(ngModel)]="booking.productName" #productNameField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && productNameField.errors">
        <p *ngIf="productNameField.errors.required" class="validation">Product name required</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && dimsWeightField.errors}">
      <label>Dims and weight: </label>
      <input type="text" name="dimsWeight" [(ngModel)]="booking.dimsWeight" #dimsWeightField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && dimsWeightField.errors">
        <p *ngIf="dimsWeightField.errors.required" class="validation">Dims and weight required</p>
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && expectedVolWeightShipField.errors}">
      <label>Expected volume and weight per month: </label>
      <input type="text" name="expectedVolWeightShip" [(ngModel)]="booking.expectedVolWeightShip" #expectedVolWeightShipField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && expectedVolWeightShipField.errors">
        <p *ngIf="expectedVolWeightShipField.errors.required" class="validation">Company address required</p>
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && expectedVolWeightMonthField.errors}">
      <label>Expected volume and weight per month: </label>
      <input type="text" name="expectedVolWeightMonth" [(ngModel)]="booking.expectedVolWeightMonth" #expectedVolWeightMonthField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && expectedVolWeightMonthField.errors">
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && expTurnOverField.errors}">
      <label>Expected turnover:(Days) </label>
      <input type="number" name="expTurnOver" [(ngModel)]="booking.expTurnOver" #expTurnOverField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && expTurnOverField.errors">
      </div>
    </div>
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && packCargoField.errors}">
      <label>Package cargo: </label>
      <select name="packCargo" [(ngModel)]="booking.packCargo" #packCargoField="ngModel" required>
        <option></option>
        <option>PALLETS</option>
        <option>CARTONS</option>
        <option>MIX</option>
      </select>
      <div *ngIf="feedbackEnabled && packCargoField.errors">
        <p *ngIf="packCargoField.errors.required" class="validation">Package cargo required</p>
      </div>
    </div>

    <div>
      <input type="checkbox" id="hazmat" name="hazmat" value="hazmat" [(ngModel)]="booking.hazmat">
      <label for="hazmat">Is hazmat?</label>
    </div>

    <div class="submit">
      <button type="submit" [disabled]="processing">Contact</button>
    </div>
  </form>
</div>
  
