@import '../../../styles.scss';

.form-container {
  @include tablet {
    margin: 0 10% 10% 10%;
  }
  @include desktop {
    margin: 0 10% 10% 10%;
  }
  padding: 2%;
  box-shadow: $box-shadow;
  background-color: white;
  @extend %form;
}

.contact-details {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5% 2%;
}

label {
  padding: 10px;
}

h3 {
  margin: 5% 2%;
}

h4 {
  margin-top: 0;
}

.input-select {
  @extend %select;
  select {
    background-color: white;
  }
}

button {
  @extend %btn;
  display: block;
}