@import '../../../styles.scss';

.headline {
  @extend %headline;
  @include tablet {
    margin-bottom: 70px;
  }
  @include desktop {
    margin-bottom: 70px;
  }
}

h3 {
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 59% 39%;
  grid-column-gap: 2%;
  padding: 2%;
}

img{
  width: 350px;
  height: 350px;
}