@import '../../../styles.scss';

.headline {
  @extend %headline;
  @include tablet {
    margin-bottom: 70px;
  }
  @include desktop {
    margin-bottom: 70px;
  }
}

h3 {
  margin: 0 5%;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  @include tablet {
    grid-template-columns: 55% 43%;
  }
  @include desktop {
    grid-template-columns: 55% 43%;
  }
  grid-column-gap: 2%;
  padding: 2% 5%;
}

.img-wrapper {
  grid-row-start: 1;
  @include tablet {
    grid-column-start: 2;
  }
  @include desktop {
    grid-column-start: 2;
  }
}

img{
  width: 100%;
}