@import '../../../styles.scss';


.form-container {
  @extend %form;
  input {
    background-color: $lightgrey;
    @include tablet {
      margin: 5% 0;
    }
    @include desktop {
      margin: 5% 0;
    }
  }
}

button {
  @extend %btn;
}

