

<div *ngIf="userObj">
  <app-upload [user]="userObj" (success)="handleSuccess($event)"></app-upload>
</div>

<div *ngIf="userObj">
<img [src]="imageBaseUrl + userObj.picture" />
<p> Username: {{ userObj.username }} </p>
<p> Name: {{ userObj.companyName }} </p>
<p> Company Address: {{ userObj.companyAddress }} </p>
<p> Email: {{ userObj.email }}</p>
<p> Description: {{ userObj.description }}</p>
</div>

<div *ngIf="userObj">
  <app-profile-form-edit [user]="userObj" [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitProfile)="handleSubmitProfile($event)"></app-profile-form-edit>
</div>
