@import '../../../styles.scss';

.headline {
  @extend %headline;
  @include tablet {
    margin-bottom: 70px;
  }
  @include desktop {
    margin-bottom: 70px;
  }
}

.fourth {
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  @include tablet {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  @include desktop {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  padding: 2%;
}

.img-wrapper {
  justify-self: center;
  img {
    box-shadow: $box-shadow;
    max-height: 50vw;
    margin-bottom: 20px;
    @include tablet {
      max-width: 45vw;
    }
    @include desktop {
      max-width: 45vw;
    }
  }
}

button {
  @extend %btn;
  align-self: flex-end;
}

#change,
#upload {
  display: none;
}
