@import '../../../styles.scss';

.headline {
  @extend %headline;
  margin-bottom: 70px;
}

.fourth {
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  @include tablet {
    grid-template-columns: 50% 50%;
  }
  @include desktop {
    grid-template-columns: 50% 50%;
  }
}

.img-wrapper {
  justify-self: center;
  img {
    box-shadow: $box-shadow;
    max-height: 50vw;
  }
}

button {
  @extend %btn;
  align-self: flex-end;
}

#change,
#upload {
  display: none;
}
