
<div class="headline">
  <p class="first"><span>W</span>ARE</p>
  <p class="third"></p>
  <p class="fourth"><span>H</span>OUSES</p>
</div>


<div *ngIf="userObj && userObj.role==='OWNER'">
  <div *ngIf="!userObj.companyName || !userObj.email || !userObj.companyAddress">
    <a [routerLink]="['/profile', userObj._id]"> ++Publish Your Warehouse</a>
  </div>

  <div *ngIf="userObj.companyName && userObj.email  && userObj.companyAddress">
    <a [routerLink]="['/profile', userObj._id, 'create-warehouse']"> +Publish Your Warehouse</a>
  </div>
</div>


<div *ngIf="warehouses">
  <app-warehouse-list [warehouses]="warehouses"></app-warehouse-list>
</div>

