<div *ngIf="!warehouse">
  loading...
</div>

<div class="warehouse-details" *ngIf="warehouse">
  <div class="img-upload">
    <div class="img-grid">
      <div class="img-box">
        <img src="http://via.placeholder.com/450x300">
      </div>
      <p class="red"></p>
      <p class="blue"></p>
    </div>
  </div>
  <div class="info">
    <h3> {{ warehouse.companyName }} </h3>
    <p> {{ warehouse.warehouseAddress }} </p>
    <p> {{ warehouse.pricing }} </p>
    <p> {{ warehouse.description }} </p>
    <p> {{ warehouse.specialNotes }} </p>
    <button class="btn"><a [routerLink]="['/warehouses', warehouse._id, 'booking' ]">Go to booking</a></button>
  </div>
</div>
