@import '../../../styles.scss';

.cbm {
  display: grid;
  grid-template-columns: 25% 30% 30%;
  grid-column-gap: 2%; 
}

.cost-table {
  display: grid;
  grid-template-columns: 25% 30% 30%;
  grid-column-gap: 2%;
}

.wh-cost {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2%;
  h3 {
    margin: 5px 0;
  }
  h4 {
    margin: 15px 0;
  }
  p {
    margin: 2px;
  }
  h5 {
    margin-top: 15px;
  }
  margin: 0 0 20px 0;
}

button {
  @extend %btn;
}