

<div class="warehouse-details" *ngIf="warehouse && user">

  <div>
    <h5>WAREHOUSE ADDRESS: </h5>    
    <p>{{ warehouse.warehouseAddress }} </p>
    <!-- <h5>PRICING: </h5>
    <p> Storage Cost:</p>
    <p> {{ warehouse.pricing[0].storage }} Euros/Month</p>
    <div class="description">
      <p> Handing Cost:(Euros/item)</p>
      <p>Small letter: {{ warehouse.pricing[0].handling[0] }}</p>
      <p>Medim box: {{ warehouse.pricing[0].handling[1] }}</p>
      <p>Large Box: {{ warehouse.pricing[0].handling[2] }}</p>
    </div>
    <div class="description">
      <p> Packaging Cost:(Euros/item)</p>
      <p>Small letter: {{ warehouse.pricing[0].packaging[0] }}</p>
      <p>Medim box: {{ warehouse.pricing[0].packaging[1] }}</p>
      <p>Large Box: {{ warehouse.pricing[0].packaging[2] }}</p>
    </div> -->

    <h5>prices</h5>
    <div class="wh-cost">
      <div class="storage">
        <h4>Storage</h4>
        <div class="cbm" *ngIf="warehouse">
          <p>CBM</p>
          <p><span class="number">{{ warehouse.pricing[0].storage }}</span> €</p>
        </div>
      </div>
      <div class="cost-table">
        <div class="sizes">
          <h4>Sizes</h4>
          <p>Small</p>
          <p>Medium</p>
          <p>Large</p>
        </div>
        <div class="handling" *ngIf="warehouse">
          <h4>Handling</h4>
          <p><span class="number">{{ warehouse.pricing[0].handling[0] }}</span> €</p>
          <p><span class="number">{{ warehouse.pricing[0].handling[1] }}</span> €</p>
          <p><span class="number">{{ warehouse.pricing[0].handling[2] }}</span> €</p>
        </div>
        <div class="packaging" *ngIf="warehouse">
          <h4>Packaging</h4>
          <p><span class="number">{{ warehouse.pricing[0].packaging[0] }}</span> €</p>
          <p><span class="number">{{ warehouse.pricing[0].packaging[1] }}</span> €</p>
          <p><span class="number">{{ warehouse.pricing[0].packaging[2] }}</span> €</p>
        </div>
      </div>
    </div>

    <h5>DESCRIPTION: </h5>
    <p>{{ warehouse.description }} </p>
    <h5>SPECIAL NOTES: </h5>
    <p>{{ warehouse.specialNotes }} </p>

    <div *ngIf="user._id === warehouse.ownerID">
      <button (click)="edit()">Edit profile</button>
    </div>

    <button *ngIf="user._id !== warehouse.ownerID"><a [routerLink]="['/warehouses', warehouse._id, 'booking' ]">Go to booking</a></button>
  </div>
</div>
