
<div class="headline" *ngIf="warehouse">
  <p class="first"><span>W</span>AREHOUSE</p>
  <p class="third"></p>
  <p class="fourth"><span>D</span>ETAILS</p>
</div>

<div class="warehouse-details" *ngIf="warehouse">

  <div class="img-wrapper">
    <img src="http://via.placeholder.com/450x300">
  </div>

  <div>
    <h5>{{ warehouse.companyName }}</h5>
    <p>WAREHOUSE ADDRESS: {{ warehouse.warehouseAddress }} </p>
    <p>PRICING: {{ warehouse.pricing }} </p>
    <p>DESCRIPTION: {{ warehouse.description }} </p>
    <p>SPECIAL NOTES: {{ warehouse.specialNotes }} </p>
    <button (click)="edit()">Edit profile</button>
    <button><a [routerLink]="['/warehouses', warehouse._id, 'booking' ]">Go to booking</a></button>
  </div>
</div>
