
<div class="form-container"> 
  <h3>WAREHOUSE OWNER DETAILS</h3>
  <div class="prefilled" *ngIf="ownerCompany">
    <p>{{ ownerCompany.companyName }} </p>
    <p>{{ ownerCompany.companyAddress }} </p>
  </div>

  <h3>ADD WAREHOUSE PICTURE</h3>
  <app-upload></app-upload>
  
  <h3>ENTER WAREHOUSE DETAILS</h3>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="signup">
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && warehouseAddressField.errors}">
      <label for="warehouseAddress">Warehouse address</label>
      <input class="warehouseAddress" name="warehouseAddress" [(ngModel)]="warehouse.warehouseAddress" #warehouseAddressField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && warehouseAddressField.errors">
        <p *ngIf="warehouseAddressField.errors.required" class="validation">Company name required</p>
      </div>
    </div>

    <div class="splitted">
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && pricingField.errors}">
        <label for="pricing">Pricing</label>
        <textarea cols="40" rows="5" name="pricing" [(ngModel)]="warehouse.pricing" #pricingField="ngModel" required [disabled]="processing"></textarea>
        <p class="description">Enter like following: 30€/unit</p>
        <div *ngIf="feedbackEnabled && pricingField.errors">
          <p *ngIf="pricingField.errors.required" class="validation">Company address required</p>
        </div>
      </div>
  
      <div class="field field-right" [ngClass]="{'has-error': feedbackEnabled && specialNotesField.errors}">
        <label for="specialNotes">Special notes</label>
        <textarea cols="40" rows="5" name="specialNotes" [(ngModel)]="warehouse.specialNotes" #specialNotesField="ngModel" [disabled]="processing"></textarea>
        <div *ngIf="feedbackEnabled && specialNotesField.errors"></div>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label for="description">Description</label>
      <textarea cols="40" rows="5" name="description" [(ngModel)]="warehouse.description" #descriptionField="ngModel" [disabled]="processing"></textarea>
      <div *ngIf="feedbackEnabled && descriptionField.errors"></div>
    </div>


    <div class="submit">
      <button type="submit" [disabled]="processing">Submit</button>
    </div>
  </form>
</div>
<!-- 
<app-upload></app-upload>

<div class="form-container"> 
  <h3>WAREHOUSE OWNER DETAILS</h3>
  <div class="prefilled" *ngIf="ownerCompany">
    <p>{{ ownerCompany.companyName }} </p>
    <p>{{ ownerCompany.companyAddress }} </p>
  </div>
  
  <h3>ENTER WAREHOUSE DETAILS</h3>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="signup">
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && warehouseAddressField.errors}">
      <label for="warehouseAddress">Warehouse address</label>
      <input placeholder="Warehouse address" type="text" name="warehouseAddress" [(ngModel)]="warehouse.warehouseAddress" #warehouseAddressField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && warehouseAddressField.errors">
        <p *ngIf="warehouseAddressField.errors.required" class="validation">Company name required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && pricingField.errors}">
      <label for="pricing">Pricing</label>
      <input placeholder="Pricing" type="text" name="pricing" [(ngModel)]="warehouse.pricing" #pricingField="ngModel" required [disabled]="processing" />
      <div *ngIf="feedbackEnabled && pricingField.errors">
        <p *ngIf="pricingField.errors.required" class="validation">Company address required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label for="description">Description</label>
      <input type="text" name="description" [(ngModel)]="warehouse.description" #descriptionField="ngModel" [disabled]="processing" placeholder="Description"/>
      <div *ngIf="feedbackEnabled && descriptionField.errors"></div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && specialNotesField.errors}">
      <label for="specialNotes">Special notes:</label>
      <input type="text" name="specialNotes" [(ngModel)]="warehouse.specialNotes" #specialNotesField="ngModel" [disabled]="processing" placeholder="Special notes"/>
      <div *ngIf="feedbackEnabled && specialNotesField.errors"></div>
    </div>

    <div class="submit">
      <button type="submit" [disabled]="processing">Submit</button>
    </div>
  </form>
</div> -->