
<div>

  <div class="parallax">
    <div class="welcome">
      <div class="headline">
        <p class="first"><span>S</span>IMPLE</p>
        <p class="third"></p>
        <p class="fourth"><span>L</span>INEAR</p>
      </div>
      <p class="subline">The platform that will provide you with scability in your supply chain so you can focus on your main business.</p>
    </div>
  </div>
  
  
  <div class="why-us">
    <h2>WHY US</h2>
    <div class="content-grid">
      <div>
        <div>
          <img src="./../../assets/img/settings.svg" alt="One Stop Supply Chain">
        </div>
        <p class="benefits"> One Stop Supply Chain </p>
        <p>Connect your E-Commerce site to any logistics warehouse with automated shipping to your customers.</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/gold-medal.svg" alt="Competitive Pricing">
        </div>
        <p class="benefits"> Competitive Pricing</p>
        <p> Economies of scale by bringing all warehouses and online sellers together.</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/keys.svg" alt="Easy Integration">
        </div>
        <p class="benefits"> Easy Integretation</p>
        <p>Adapt your E-commerce site or any E-commmerce with our API integration.</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/mobile-phone.svg" alt="Network">
        </div>
        <p class="benefits">Warehouse Network</p>
        <p>Profit from out large warehouse network to make the delivery as fast as possible.</p>
      </div>
    </div>
  </div>

  <div class="parallax1">
    <p class="hidden">hello</p>
  </div>

  <div class="client">
    <h2>OUR PARTNERS</h2>
    <div class="client-content">
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/amazon.png" alt="Amazon">
        </div>
        <p>"Without long integration time, we were able to ship to our customers immediatly."</p>
        <p class="quotes">Will O'Brian, Head of Logistics</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/dior.png" alt="Dior">
        </div>
        <p>"Due to the large network of warehouses, our customers enjoy Same-Day-Delivery."</p>
        <p class="quotes">Brenda Smith, CTO</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/wholefoods.png" alt="Whole foods">
        </div>
        <p>"Through Simple Linear we were able to expand in different markets all over the world."</p>
        <p class="quotes">Donald Keaton, Founder</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/tesco.png" alt="Tesco">
        </div>
        <p>"Thanks to Simple Linear we can now focus on our business, without worrying about the fullfillment."</p>
        <p class="quotes">Diane Smith, Employer</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/swiffer.svg" alt="Swiffer">
        </div>
        <p>"Simple Linear provided us with all essential insights to help us grow our business."</p>
        <p class="quotes">Michael Smith, Head of BI</p>
      </div>
    </div>
  </div>
  
</div>
