
<div>

  <div class="parallax">
    <div class="welcome">
      <div class="headline">
        <p class="first"><span>S</span>IMPLE</p>
        <p class="third"></p>
        <p class="fourth"><span>L</span>INEAR</p>
      </div>
      <p>The platform that will provide you with scability in your supply chain so you can focus in other areas. </p>
    </div>
  </div>
  
  
  <div class="why-us">
    <h2>WHY US</h2>
    <div class="content-grid">
      <div>
        <div>
          <img src="./../../assets/img/settings.svg" alt="One Stop Supply Chain">
        </div>
        <p class="benefits"> One Stop Supply Chain </p>
        <p>Connect your e-Commerce site to any logistics warehouse with automate shipping to your customers</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/gold-medal.svg" alt="Competitive Pricing">
        </div>
        <p class="benefits"> Competitive Pricing</p>
        <p> Economies of scale by bringing all warehouses and online sellers together</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/keys.svg" alt="Easy Integration">
        </div>
        <p class="benefits"> Easy Integretation</p>
        <p> Adapt your Ecommerce site or any Ecommmerce with our API integration</p>
      </div>
      <div>
        <div>
          <img src="./../../assets/img/settings.svg" alt="Network">
        </div>
        <p class="benefits">Warehouse-Network</p>
        <p> Adapt your Ecommerce site or any Ecommmerce with our API integration</p>
      </div>
    </div>
  </div>

  <div class="parallax1">
    <p class="hidden">hello</p>
  </div>

  <div class="client">
    <h2>OUR PARTNERS</h2>
    <div class="client-content">
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/amazon.png" alt="One Stop Supply Chain">
        </div>
        <p>"Connect your e-Commerce site to any logistics warehouse with automate shipping to your customers"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/dior.png" alt="Easy Integration">
        </div>
        <p>"Economies of scale by bringing all warehouses and online sellers together"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/wholefoods.png" alt="Competitive Pricing">
        </div>
        <p>"Adapt your Ecommerce site or any Ecommmerce with our API integration"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/tesco.png" alt="Competitive Pricing">
        </div>
        <p>"Economies of scale by bringing all warehouses and online sellers together"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div class="content-wrapper">
        <div class="img-wrapper">
          <img src="./../../assets/img/swiffer.svg" alt="Easy Integration">
        </div>
        <p>"Adapt your Ecommerce site or any Ecommmerce with our API integration"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
    </div>
  </div>
  
</div>
