
<div class="background">

  <div class="welcome">
    <div class="headline">
      <p class="first"><span>S</span>IMPLE</p>
      <p class="third"></p>
      <p class="fourth"><span>L</span>INEAR</p>
    </div>
    <p>Simple Linear has built a network of more than 750 warehouses across the Europe & USA to connect companies that need additional warehousing with their online sales. The platform that will provide you with scability in your supply chain so you can focus in other areas. </p>
  </div>
  
  <div class="why-us">
    <h2>WHY US</h2>
    <p>Software platform matches shippers with warehousing providers that meet their desired project scope and criteria, and then all parties use the Simple Linear platform to work together; scheduling deliveries and pickups, managing inventory, legal agreements, and billing.</p>
    <div class="img-grid">
      <div class="img-wrapper">
        <img src="./../../assets/img/settings.svg" alt="One Stop Supply Chain">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/gold-medal.svg" alt="Competitive Pricing">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/keys.svg" alt="Easy Integration">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/settings.svg" alt="Network">
      </div>
    </div>
    <div class="content-grid">
      <div>
        <p class="benefits"> One Stop Supply Chain </p>
        <p>Connect your e-Commerce site to any logistics warehouse with automate shipping to your customers</p>
      </div>
      <div>
        <p class="benefits"> Competitive Pricing</p>
        <p> Economies of scale by bringing all warehouses and online sellers together</p>
      </div>
      <div>
        <p class="benefits"> Easy Integretation</p>
        <p> Adapt your Ecommerce site or any Ecommmerce with our API integration</p>
      </div>
      <div>
        <p class="benefits"> Warehouse-Network</p>
        <p> Adapt your Ecommerce site or any Ecommmerce with our API integration</p>
      </div>
    </div>
  </div>
  
  <div class="client">
    <h2>OUR CLIENTS</h2>
    <div class="client-images">
      <div class="img-wrapper">
        <img src="./../../assets/img/amazon.png" alt="One Stop Supply Chain">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/wholefoods.png" alt="Competitive Pricing">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/dior.png" alt="Easy Integration">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/tesco.png" alt="Competitive Pricing">
      </div>
      <div class="img-wrapper">
        <img src="./../../assets/img/swiffer.svg" alt="Easy Integration">
      </div>
    </div>
    <div class="client-content">
      <div>
        <p>"Connect your e-Commerce site to any logistics warehouse with automate shipping to your customers"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div>
        <p>"Economies of scale by bringing all warehouses and online sellers together"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div>
        <p>"Adapt your Ecommerce site or any Ecommmerce with our API integration"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div>
        <p>"Economies of scale by bringing all warehouses and online sellers together"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
      <div>
        <p>"Adapt your Ecommerce site or any Ecommmerce with our API integration"</p>
        <p class="quotes">Will Smith, Head of Logistics</p>
      </div>
    </div>
  </div>
  
</div>

<!-- <h3 class="header">RETAIL SOLUTIONS</h3>
<p class="grey-text text-darken-3 lighten-3">Whether you’re solving for seasonal inventory swings, augmenting your distribution network, or building out a fulfillment
  network to expand market presence, BRANDNAME has what you need. Our on-demand warehousing solution connects you with
  the right warehouse partner(s), when and where you need it.</p>


<h3 class="header">WARHOUSE SOLUTIONS</h3>
<p class="grey-text text-darken-3 lighten-3">The BRANDNAME marketplace enables you to provide warehouse storage and services to other businesses on your own terms,
  generating new revenue and lowering overall supply chain costs.</p> -->


