nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.main-nav {
  display: grid;
  grid-template-columns: 80% 20%;
}

.nav-bar {
  align-self: center;
}


h1 {
  text-align: left;
  display: inline;
}

