
<nav>

  <div id="main-nav">
    <div id="img-wrapper">
      <img src="../assets/img/menu.svg" alt="menu-icon">
    </div>

    <a [routerLink]="['/']" class="logo">S<span class="slash">|</span>L</a>

    <div #tabElement class="tabs" *ngIf="!loading && !!user">
      <input type='radio' id='r1' name='t' checked>
      <label for='r1' [routerLink]="['/']">Simple Linear</label>
      <input type='radio' id='r2' name='t'>
      <label for='r2' [routerLink]="['/warehouses']">Warehouses</label>
      <input type='radio' id='r3' name='t'>
      <label for='r3' [routerLink]="['/dashboard', user._id]">Dashboard</label>
      <input type='radio' id='r4' name='t'>
      <label for='r4' [routerLink]="['/profile', user._id]">My Profile</label>
      <div id='slider'></div>
    </div>

    <div class="auth" [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span>loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <button class="btn"><a (click)="logout()">logout</a></button>
      </div>
      <div *ngIf="!loading && anon">
        <button class="btn"><a (click)="login()">sign in</a></button>
      </div>
    </div>

  </div>

</nav>


<router-outlet></router-outlet>

