@import '../styles.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: white;
  padding: 5px;
}

.main-nav {
  display: grid;
  grid-template-columns: 10% 70% 20%;
}

.logo{
  display: inline;
  justify-self: end;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: $blue;
  margin: 0;
}

.slash {
  color: $red;
}

.tabs {
  display: inline;
  align-self: center;
  [type=radio] {
    display: none;   
  }
}

[type=radio],#r1:checked ~ #slider {
  transform: translate(-415px, 10px);
}

[type=radio],#r2:checked ~ #slider {
  transform: translate(-300px, 10px);
}

[type=radio],#r3:checked ~ #slider {
  transform: translate(-193px, 10px);
}

[type=radio],#r4:checked ~ #slider {
  transform: translate(-94px, 10px);
}

label, input {
  display: inline-block;
  margin: 10px;
}

label:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#slider {
  display: inline-block;
  width: 90px;
  border-bottom: 3px solid $red;
  transition: transform 0.5s;
}

.auth {
  align-self: center;
  a {
    margin: 10px;
  }
}






