<!--The content below is only a placeholder and can be replaced.-->

<nav>

  <div class="main-nav">
    <div style="text-align:center" class="logo">
      <img src="../assets/img/simple-linear-logo.jpg">
      <h1>simple linear</h1>
    </div>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="nav-bar">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a (click)="profile()">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <a (click)="login()">login</a>
        <a (click)="signup()">signup</a>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !!user" class="sub-nav">
    <a [routerLink]="['/warehouses']">Warehouses</a>
    <a [routerLink]="['/dashboard', user._id]">Dashboard</a>
    <a [routerLink]="['/profile', user._id]"> To Do & Profile </a>
  </div>

</nav>


<router-outlet></router-outlet>

