<p>
  signup works!
</p>


<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && signUpUsernameField.errors}">
    <label>User Name:</label>
    <input type="text" name="username" [(ngModel)]="username" #signUpUsernameField="ngModel" required minlength="6" [disabled]="processing"
    />
    <div *ngIf="feedbackEnabled && signUpUsernameField.errors">
      <p *ngIf="signUpUsernameField.errors.required" class="validation">username required</p>
      <p *ngIf="signUpUsernameField.errors.minlength" class="validation">username is too short</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && signUpPasswordField.errors}">
    <label>Password: </label>
    <input type="text" name="password" [(ngModel)]="password" #signUpPasswordField="ngModel" required minlength="6" [disabled]="processing"
    />
    <div *ngIf="feedbackEnabled && signUpPasswordField.errors">
      <p *ngIf="signUpPasswordField.errors.required" class="validation">Password required</p>
      <p *ngIf="signUpPasswordField.errors.minlength" class="validation">Password is too short</p>
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="role">Please check box if you are a warehouse</label>
  </div>

  <div class="field submit">
    <button type="submit" [disabled]="processing">Signup</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
  </div>

  xxx{{error}}xxx
</form>