
<div *ngIf="!warehouses">loading ...</div>

<ul class="list" *ngIf="warehouses">
  <li *ngFor="let warehouse of warehouses">
    <div class="example-1 card">
      <div class="wrapper">
        <span class="price">Storage: {{ warehouse.pricing[0].storage }} Euros / CBM / Month</span>
        <div class="info">
          <div class="content">
            <p class="address">Address{{ warehouse.warehouseAddress }}</p>
            <h2 class="name"><a [routerLink]="['/warehouses', warehouse._id]">{{ warehouse.companyName }}</a></h2>
            <p class="description">Place for description{{ warehouse.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>