@import '../../../styles.scss';

.list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 150px;
  li {
    list-style-type: none;
  }
}

.card {
  padding: 0 1.7rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 540px;
  background: url(http://via.placeholder.com/865x567) center / cover no-repeat;
  box-shadow: $box-shadow;
  &:hover {
    .info {
      transform: translateY(0);
    }
  }
}

.price {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $red;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 0.8em;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.content {
  padding: 1em;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: $box-shadow;
}

.name {
  margin-top: 10px;
}

.description {
  height: 70px;
  margin: 0;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}


