
/* ---- scss ---- */


/* Variables */
$red:#ff6636;
$blue: #34b7ec;
$green: #009675;
$lightgrey: #fbf9f9;
$transparent: #ffffffe8;
$box-shadow: 5px 5px 20px rgba(0,0,0,0.05), 0px 0px 30px rgba(0,0,0,0.1);
$tablet-width: 768px;
$desktop-width: 1200px;

/* Mixins */
// clear-fix
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// responsive 
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}



/* Extends */
// buttons
%btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: $green;
  text-transform: uppercase;
  margin: 20px auto;
  color: white;
  a {
    color: white;
  }
}

// headline
%headline {
  display: grid;
  font-size: 35px;
  grid-template-columns: 100%;
  margin: 90px auto 30px auto;
  @include tablet {
    font-size: 40px;
    grid-template-columns: 50% 50%;
    margin: 100px auto 40px auto;
  }
  @include desktop {
    font-size: 40px;
    grid-template-columns: 50% 50%;
    margin: 100px auto 40px auto;
  }
  letter-spacing: 0.2em;
  span {
    font-size: 45px;
    @include tablet {
      font-size: 55px;
    }
    @include desktop {
      font-size: 55px;
    }
  }
  .first {
    grid-column-start: 1;
    border-bottom: 4px solid $red;
    justify-self: center;
    @include tablet {
      border-bottom: none;
      border-right: 4px solid $red;
      justify-self: end;
    }
    @include desktop {
      border-bottom: none;
      border-right: 4px solid $red;
      justify-self: end;
    }
    margin: 0;
  }
  .third {
    display: none;
    @include tablet {
      grid-column-start: 1;
      grid-row-start: 2;
      border-right: 4px solid $red;
      margin: 0;
    }
    @include desktop {
      display: inherit;
      grid-column-start: 1;
      grid-row-start: 2;
      border-right: 4px solid $red;
      margin: 0;
    }
  }
  .fourth {
    margin: 0 0 0 5px;
    justify-self: center;
    @include tablet {
      justify-self: start;
      grid-column-start: 2;
    }
    @include desktop {
      justify-self: start;
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }
}

// form input

%form {
  input[type=text] {
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    width: 96%;
    margin: 5% 2%;
  }
  input[type=checkbox] {
    display: inline;
    width: auto;
    margin: 0 auto 0 2%;
    label {
      color: grey;
      padding: 0;
    }
  }
  input[type=number] {
    line-height: 35px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 96%;
    margin: 2%;
  }
}

%select {
  display: grid;
  grid-template-columns: 40% auto;
  @include tablet {
    grid-template-columns: 20% auto;
  }
  @include desktop {
    grid-template-columns: 10% auto;
  }
  border-bottom: 1px solid grey;
  margin: 5% 2%;
  label {
    color: grey;
    padding: 0;
  }
  select {
    border: none;
  }
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul {
  margin: 0;
  height: 0;
  background-color: $lightgrey;
}

*:focus {
  outline: none;
}



/* ---- typography ---- */

h1, h2, h3, h4, h5, p, li, a, label, button, span, select, input {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-top: 100px;
}

h2 {
  font-size: 35px;
  border-bottom: 4px solid $blue;
  display: inline-block;
}

h3 {
  font-size: 20px;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 30px;
  }
  border-bottom: 1px solid $blue;
  font-weight: 100;
}

h4 {
  font-size: 20px;
  letter-spacing: 0.1em;
}

h5 {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px solid $red;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

select, input {
  font-size: 16px;
}