/* You can add global styles to this file, and also import other style files */


/* ---- scss ---- */


/* Variables */
$red:#ff6636;
$blue: #34b7ec;
$green: #009675;
$lightgrey: #fbf9f9;
$box-shadow: 5px 5px 20px rgba(0,0,0,0.05), 0px 0px 30px rgba(0,0,0,0.1);
$tablet-width: 768px;
$desktop-width: 1200px;

/* Mixins */
// clear-fix
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// responsive 
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}



/* Extends */
// buttons
%btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: $green;
  text-transform: uppercase;
  margin: 20px auto;
  color: white;
  a {
    color: white;
  }
}

// headline
%headline {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 40px;
  letter-spacing: 0.2em;
  margin: 100px auto 40px auto;
  span {
    font-size: 55px;
  }
  .first {
    grid-column-start: 1;
    border-right: 4px solid $red;
    margin: 0;
    justify-self: end;
  }
  .third {
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: 4px solid $red;
    margin: 0;
  }
  .fourth {
    grid-column-start: 2;
    @include desktop {
      grid-row-start: 2;
    }
    margin: 0 0 0 5px;
  }
}

// form input

%form {
  input {
    border: none;
    border-bottom: 1px solid black;
    display: block;
    width: 96%;
    margin: 5% 2%;
  }
  input[type=checkbox] {
    margin: 0 auto 0 2%;
    display: inline;
    width: auto;
    label {
      color: grey;
      padding: 0;
    }
  } 
}

%select {
  border-bottom: 1px solid black;
  color: grey;
  margin: 5% 2%;
  display: grid;
  grid-template-columns: 20% auto;
  label {
    padding: 0;
  }
  select {
    border: none;
  }
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul {
  margin: 0;
  height: 0;
  background-color: $lightgrey;
}

*:focus {
  outline: none;
}



/* ---- typography ---- */

h1, h2, h3, h4, p, li, a, label, button, span, select, input {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-top: 100px;
}

h2 {
  font-size: 35px;
  border-bottom: 4px solid $blue;
  display: inline-block;
}

h3 {
  font-size: 30px;
  border-bottom: 4px solid $blue;
}

h4 {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

select, input {
  font-size: 16px;
}