
<div class="headline">
  <p class="first"><span>D</span>ASH</p>
  <p class="third"></p>
  <p class="fourth"><span>B</span>OARD</p>
</div>

<div class="dashborad">
  <div class="sales">
    <h5>total cost</h5>
  </div>
  
  
  <div class="current-cost">
    <h5>current costs</h5>
  </div>
  
  
  <div class="wh-cost">
    <h5>warehouse price overview</h5>
  </div>
</div>

<!-- <ul *ngIf="bookedWarehouse"> -->
  <!-- <li *ngFor="let booking of bookedWarehouse"> -->
    <!-- <div class="title description">
      <h3> {{ bookedWarehouse[0].warehouseAddress.companyName }} </h3>
      <p> Location: {{ bookedWarehouse[0].warehouseAddress.warehouseAddress }} </p>
    </div>
    <div class="description">
      <p> Storage Cost:</p>
      <p> {{ bookedWarehouse[0].warehouseAddress.pricing[0].storage }} Euros/Month</p>
    </div>
    <div class="description">
      <p> Handing Cost:(Euros/item)</p>
      <p>Small letter: {{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[0] }}</p>
      <p>Medim box: {{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[1] }}</p>
      <p>Large Box: {{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[2] }}</p>
    </div>
    <div class="description">
      <p> Packaging Cost:(Euros/item)</p>
      <p>Small letter: {{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[0] }}</p>
      <p>Medim box: {{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[1] }}</p>
      <p>Large Box: {{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[2] }}</p>
    </div>
     -->

  <!-- </li> -->
<!-- </ul> -->

<div class="graph">
  <app-graphChart [onlineSales]="onlineSales" [bookedWarehouse]="bookedWarehouse"></app-graphChart>
</div>
