
<div class="headline">
  <p class="first"><span>D</span>ASH</p>
  <p class="third"></p>
  <p class="fourth"><span>B</span>OARD</p>
</div>

<div class="dashboard">

  <div class="sales">
    <div>
      <h3>Total Revenue</h3>
      <p class="total revenue"><span *ngIf="totalSalesRevenue">{{ totalSalesRevenue.toFixed(2) }}</span> €</p>
    </div>
    <div>
      <h3>Total cost</h3>
      <p class="total"><span *ngIf="totalCost">{{ totalCost.toFixed(2) }}</span> €</p>
    </div>
  </div>

  <div class="current-cost">
    <h3>current costs</h3>
    <div class="storage">
      <h5>Storage</h5>
      <div class="cbm">
        <p>CBM</p>
        <p><span class="number" *ngIf="totalStorageCost">{{ totalStorageCost.toFixed(2) }}</span> €</p>
      </div>
    </div>
    <div class="cost-table">
      <div class="sizes">
        <h5>Sizes</h5>
        <p>Small</p>
        <p>Medium</p>
        <p>Large</p>
      </div>
      <div class="handling">
        <h5>Handling</h5>
        <p><span class="number">{{ handlingSmTotal }}</span> €</p>
        <p><span class="number">{{ handlingMdTotal }}</span> €</p>
        <p><span class="number">{{ handlingLgTotal }}</span> €</p>
      </div>
      <div class="packaging">
        <h5>Packaging</h5>
        <p><span class="number">{{ packingSmTotal }}</span> €</p>
        <p><span class="number">{{ packingMdTotal }}</span> €</p>
        <p><span class="number">{{ packingLgTotal }}</span> €</p>
      </div>
    </div>
  </div>
  
  
  <div class="wh-cost">
    <h3>price overview</h3>
    <div class="storage">
      <h5>Storage</h5>
      <div class="cbm">
        <p>CBM</p>
        <p><span class="number" *ngIf="bookedWarehouse">{{ bookedWarehouse[0].warehouseAddress.pricing[0].storage }}</span> €</p>
      </div>
    </div>
    <div class="cost-table">
      <div class="sizes">
        <h5>Sizes</h5>
        <p>Small</p>
        <p>Medium</p>
        <p>Large</p>
      </div>
      <div class="handling" *ngIf="bookedWarehouse">
        <h5>Handling</h5>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[0] }} </span> €</p>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[1] }}</span> €</p>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].handling[2] }}</span> €</p>
      </div>
      <div class="packaging" *ngIf="bookedWarehouse">
        <h5>Packaging</h5>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[0] }}</span> €</p>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[1] }}</span> €</p>
        <p><span class="number">{{ bookedWarehouse[0].warehouseAddress.pricing[0].packaging[2] }}</span> €</p>
      </div>
    </div>
  </div>

</div>

<div class="graph">
  <app-graphChart [onlineSales]="onlineSales" [bookedWarehouse]="bookedWarehouse"></app-graphChart>
</div>
